body{
    color:#c3d4f0;
    background: currentColor ;
}

.container{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.ball{

    border-radius: 50%;
    border-top: 300px solid rgba(204, 23, 23, 0.904);
    border-left: 300px solid rgba(204, 23, 23, 0.904);
    border-bottom: 300px solid #fff;
    border-right: 300px solid #fff;
    /* padding: 40px; */
    transform: rotate(44deg);
    box-shadow: 10px 0px 40px 0 rgba(0, 0, 0, 0.623);
}

.ball::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 40px solid #c3d4f0;
    box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.6);
}
.ball::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 30px solid #e6dddd;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.6);
}